* {
  color: darkslategray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #e7e7e7;
  width: 1000px;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; */
  margin: auto;
  /* color: #18115b; */
}

.App {
  text-align: center;
}

.App-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}

.svgContainer {
  height: 520px;
  margin: 25px 5px;
  box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  border-radius: 5px;
}

svg {
  overflow: visible;
}

.students {
  margin: 10px;
}
.students button {
  padding: 5px;
  width: 75px;
  height: 30px;
}

.filterButtons {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDiv {
  font-size: 25px;
}
.loginDiv select {
  width: 150px;
  height: 25px;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0 10px;
}
ul li {
  list-style-type: none;
  background-color: darkslategray;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: all 0.2s;
}
ul li:hover {
  background-color: rgb(93, 144, 144);
}

ul li:active {
  transform: scale(0.9);
}

ul li a {
  color: lightgray;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 8px;
}

label#diflabel,
label#funlabel {
  display: flex;
  align-items: center;
  font-size: 12px;
  border-radius: 5px;
  margin: 5px;
  padding: 1px 5px;
}

label#diflabel {
  background-color: darkorange;
}

label#funlabel {
  background-color: green;
  color: lightgray;
}

button {
  background-color: transparent;
  border: none;
  color: lightgray;
  font-size: 16px;
}
